# dependencies
node_modules
frontend/node_modules
backend/node_modules

# build artifacts
frontend/build
coverage
dist

# docker volumes
mongo_data

# local env files
.env
.env.local
.env.*.local

# logs
*.log